@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}
body { 
    background-color: #24272e;
}
header{
    background-color: white;
    padding: 20px;
}
header > h1 {
    font-family: 'Montserrat Subrayada';
    color: #25272e;
    text-align: center;
}
#fighter-display{
    color: white;
    text-align: center;
    margin: 35px 30% 10px 30%;
}

#fighters{
    vertical-align: top; 
    min-width: 142px;
    display: inline-block;
    width: 49%;
    padding: 10px;
    border: white solid;
}
#fighter-form{
    margin: 10px;
    text-align: center;
    color: white;
}
#fighter-form>p, #fighter-display>p, #play-again-menu>p{
    font-size: 20px;
    padding: 10px;
}
#fighter-form> input{
    height: 30px;
    margin: 10px;
}

#fighter-form>button{
    padding: 5px;
}

#play-game>button, #select-weapon>div>button, #play-again-menu>div>button{
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 20%;
}

button:hover{
    background: rgb(102, 23, 23);
    color: white;
}
#select-weapon{
    text-align: center;
    display: none;  
}
li{
    list-style: none;
    margin: 5px;
}
#play-game{
    text-align: center;
}

#select-weapon>p{
    padding: 10px;
    color: white;
    font-size: 25px;
    width: 450px;
    margin: 0 auto;  
    border-bottom: white solid;
}

.radio-button-menu{
    display: inline-flex;
    flex-direction: column;
    margin: 20px 0 10px 0;
    color: white;
    background-color: #444422;
    border: solid white;
    width: auto;
    text-align: center; /**/
    min-width: 37%;
}

.radio-button-menu>div{
    padding: 7px;
    cursor: pointer;
    display: inline-block; /**/
}
.radio-button-menu input[type=radio]{
    margin-right: 5px;
}

#play-game>p{
    color: white;
    font-size: 25px;
    margin: 25px 0 0 0;
}

#play-again-menu{
    display: none;
    color: white;
    text-align: center;
}

